<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		throwExceptions="false" internalLogToConsole="false" internalLogToConsoleError="false" internalLogLevel="Trace">

  <targets async="true">
    <target name="loginTracefile" xsi:type="File" fileName="${basedir}\Trace\${shortdate}loginTracefile.txt"
			archiveNumbering="Sequence" archiveEvery="Hour" maxArchiveFiles="240" encoding="UTF-8" layout="================日志开始================${newline}${longdate}${newline}${message}${newline}================日志结束================${newline}"/>
    <target name="loginDebugfile" xsi:type="File" fileName="${basedir}\Debug\${shortdate}loginDebugfile.txt"
			archiveNumbering="Sequence" archiveEvery="Hour" maxArchiveFiles="240" encoding="UTF-8" layout="================日志开始================${newline}${longdate}${newline}${message}${newline}================日志结束================${newline}"/>
    <target name="loginInfofile" xsi:type="File" fileName="${basedir}\Info\${shortdate}loginInfofile.txt"
			archiveNumbering="Sequence" archiveEvery="Hour" maxArchiveFiles="240" encoding="UTF-8" layout="================日志开始================${newline}${longdate}${newline}${message}${newline}================日志结束================${newline}"/>
    <target name="logWarnfile" xsi:type="File" fileName="${basedir}\Warn\${shortdate}logWarnfile.txt"
			archiveNumbering="Sequence" archiveEvery="Hour" maxArchiveFiles="240" encoding="UTF-8" layout="================日志开始================${newline}${longdate}${newline}${message}${newline}================日志结束================${newline}"/>
    <target name="logErrorfile" xsi:type="File" fileName="${basedir}\Error\${shortdate}logErrorfile.txt"
			archiveNumbering="Sequence" archiveEvery="Hour" maxArchiveFiles="240" encoding="UTF-8" layout="================日志开始================${newline}${longdate}${newline}${message}${newline}================日志结束================${newline}"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="loginTracefile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="loginDebugfile" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="loginInfofile" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="logWarnfile" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="logErrorfile" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>