<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net40" />
  <package id="Dapper" version="1.50.2" targetFramework="net40" />
  <package id="EmitMapper" version="1.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net40" />
  <package id="NLog" version="4.6.8" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net40" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.Application" version="1.0.0" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.Cache" version="1.0.0" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.DALOnly.SQLiteHelper" version="1.0.0" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.Helper" version="1.0.1" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.Ioc" version="1.0.0" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.Mapping" version="1.0.0" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.Messager" version="1.0.0" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.MVVM.VMOnly" version="1.0.0" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.MVVM.VOnly" version="1.0.3" targetFramework="net40" />
  <package id="WPFDemo.SimpleFrame.Infra.Win32" version="1.0.0" targetFramework="net40" />
</packages>